* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html {
  font-size: 60%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top left, #08a6bb, #54eee6);

  border-radius: 9em;
}
.login {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  transition: opacity, 0.3s;
}

.login__text {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 500;
}

.logo {
  height: 7rem;
}

.login__form {
  display: flex;
  flex-direction: column;
}
.login__error {
  color: red;
  font-size: 2rem;
  opacity: 0;
  transition: opacity, 0.3s;
}
.login__input {
  border: none;
  max-width: 320px;
  width: 100%;
  padding: 0.5rem 2rem;
  margin: 0.6rem 0;
  font-size: 2rem;
  font-family: inherit;
  text-align: center;
  border-radius: 10rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: rgb(105, 105, 105);
}

.login__btn {
  margin-top: 0.6rem;
  padding: 0.25rem 1rem;
  border: 1px solid #fff;
  border-radius: 10rem;
  background-color: #fff;
  font-size: 2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: rgb(105, 105, 105);
}

/* Main */
.app {
  position: relative;
  max-width: 100rem;
  padding: 2rem;
  margin: 0 auto;
  display: none;
  /* display: grid; */
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  z-index: 1;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: rgb(110, 110, 110);
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* Transactions */
.transactions {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.transactions__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.transactions__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.transactions__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(86, 86, 86);
}

.transactions__type--deposit {
  background-image: linear-gradient(to top left, #399bb3, #72d6e4);
}

.transactions__type--withdrawal {
  background-image: linear-gradient(to top left, #f07b0d, #ca7e1a);
}

.transactions__value {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: auto;
}

/* Total */
.total {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.total__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.total__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.total__value--in,
.total__value--interest {
  color: #399bb3;
}

.total__value--out {
  color: #f07b0d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* Operations */
.operation {
  border-radius: 1rem;
  padding: 3rem 2rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #547202, #b7d433);
}

.operation--loan {
  background-image: linear-gradient(to top left, #068394, #40dad2);
}

.operation--close {
  background-image: linear-gradient(to top left, #e93c07, #d36c71);
}

.operation__name {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interest */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End of exceptions */

.form__input {
  width: 100%;
  border: 1px solid transparent;

  padding: 0.3rem 0.6rem;
  border-radius: 0.7rem;

  font-family: inherit;
  font-size: 1.6rem;
  text-align: center;

  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);

  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
}

.form__label {
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.quit-account {
  background-color: none;
  width: fit-content;
  background-color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 10rem;
  margin-left: auto;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  text-align: right;
  cursor: pointer;
}

/* help info */

.show-modal-window {
  position: absolute;
  z-index: 3;
  right: 5px;
  top: 0px;
  font-size: 4rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.close-modal-window {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 5rem;
  color: #444;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  font-size: 1.5rem;
  text-align: center;

  background-color: #fff;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 5;
}
